body {
  margin: 0;

  background-color: rgb(243, 239, 7);
  margin-top: 5%;
  padding: auto;
  font-size: large;
}

button{
  background-color: rgb(0, 0, 0);
  color: rgb(243, 243, 243);
  padding: 1px;
  /* size-adjust: ;  */
  width: 5%;
  height: 50px;
  font-size: large;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
